<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }
    h3 {
      color: #007bff;
    }
    p {
      margin-bottom: 10px;
    }
    hr {
      border: none;
      border-top: 1px solid #ddd;
      margin-top: 5px;
      margin-bottom: 15px;
    }
  </style>

<h3>Id</h3>
<p>{{employee.employee_id}}</p><hr>
<h3>Name</h3>
<p>{{employee.name}}</p><hr>
<h3>Age</h3>
<p>{{employee.age}}</p><hr>
<h3>Position</h3>
<p>{{employee.position}}</p><hr>